# EFM32GG SLWSTK6121A default board configuration
# Copyright (c) 2019 Interay Solutions B.V.
# Copyright (c) 2019 Oane Kingma
# Copyright (c) 2020 Thorvald Natvig
# SPDX-License-Identifier: Apache-2.0

if BOARD_EFM32GG_SLWSTK6121A

config BOARD
	string
	default "efm32gg_slwstk6121a"

config CMU_HFXO_FREQ
	default 50000000

config CMU_HFRCO_FREQ
	default 72000000

config CMU_LFXO_FREQ
	default 32768

config COUNTER_GECKO_RTCC
	default y
	depends on COUNTER

config LEUART_GECKO
	default n

config HEAP_MEM_POOL_SIZE
	default 8192

if NETWORKING

config NET_L2_WIFI_MGMT
	default y

config WIFI
	default y

config WIFI_WFX
	default y

config WIFI_OFFLOAD
	default y

endif # NETWORKING

config SYS_PM_MIN_RESIDENCY_SLEEP_1
        default 0

config SYS_PM_MIN_RESIDENCY_SLEEP_2
        default 1

config SYS_PM_MIN_RESIDENCY_SLEEP_3
        default 1

config LOG_BACKEND_SWO_FREQ_HZ
        default 875000
        depends on LOG_BACKEND_SWO

endif # BOARD_EFM32GG_SLWSTK6121A
